@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --main-fonts-color: #fff;
  --main-decor-color:#886f6f;
    --main-header-background:#20262e;
  --main-font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background-image: url("../images/wall/wall6.jpg");   
    background-size: cover;
  background-position:center;
}

main{
  padding: 0;
  width: 100%;
/*  height: 100vh;*/
  background: var(--main-background);
}

/* Estilo básico para inputs */
input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

/* Estilo quando o input está focado */
input:focus {
  border-color: #007bff; /* Cor azul utilizada como exemplo, pode ser substituída pela cor desejada */
  box-shadow: 0 0 5px #007bff; /* Efeito de sombra ao redor do input quando está focado */
}

/* Estilo para inputs desabilitados */
input:disabled {
  background-color: #f0f0f0; /* Cor de fundo para inputs desabilitados */
  color: #777; /* Cor do texto para inputs desabilitados */
  cursor: not-allowed; /* Altera o cursor do mouse para indicar que o input está desabilitado */
}


/*────────────────── 
       header
──────────────────*/

header{
  margin: 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
    align-items: center; 
  justify-content: space-around; 
  background: var(--main-header-background);
  position: fixed;
  top: 0;
  transition: 0.3s;
  z-index: 5;
}
.nav-show{
  opacity: 0;
}

header:hover{
  opacity: 1;
  background: var(--main-header-background);
}

.logo img{
  padding-top: 5px;
  height: 100px;
  cursor: pointer;
}

.nav-bar{
  list-style:none;
  position: relative;
  display: inline-flex;
}

a.nav-link{
  margin: 2px;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--main-fonts-color);
  font-family: var(--main-font-family);
  cursor: pointer;
  text-transform: uppercase;
}

.active{
  background: var(--main-decor-color);
}

.nav-link:hover {
  color: #000000;
    background: var(--main-decor-color);
}

/*──────────────────
       fim header
──────────────────*/



    .conta .usuario-body,
    .conta {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }

 

    .conta .usuario-body {
      width: 70%;
      position: relative;
      max-width: 750px;
    }

    .conta .usuario-body .titulo {
      display: block;
      width: 100%;
      font-size: 1.50em;
      margin-bottom: 0.5rem;
    }

    .conta .usuario-body .info-basica {
      display: block;
      width: 100%;
      font-size: 1.20em;
      margin-bottom: 0.5rem;
      margin-left: 14px;
    }

    .conta .usuario-body .texto {
      color: #848484;
      font-size: 0.95em;
      text-align: left;
    }

    .conta .perfil-usuario-footer,
    .conta .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1.5rem 2rem;
      box-shadow: 0 0 12px rgba(0, 0, 0, .2);
      background-color: #ffffff;
      border-radius: 15px;
      width: 100%;
        opacity: 90%;
    }

    .conta .info {
      margin-bottom: 1.25rem;
      text-align: center;
    }

    .conta .lista-datos {
      display: flex;
      flex-flow: column; nowrap;
      justify-content: center;
/*      width: 50%;*/
      list-style: none;
    }

    .conta .lista-datos li {
      padding: 5px 0;
      margin-top: 1rem;
    }

    .conta .lista-datos li > .infos {
      margin-right: 1rem;
      font-size: 1.2rem;
      vertical-align: middle;
    }

    .conta .redes-sociais {
      position: absolute;
      right: calc(0px - 50px - 1rem);
      top: 0;
      display: flex;
      flex-direction: column;
    }

    .conta .redes-sociais .rede {
      border: 0;
      background-color: #fff;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #fff;
      box-shadow: 0 0 12px rgba(0, 0, 0, .2);
      font-size: 1.3rem;
    }

    .conta .redes-sociais .rede+.rede {
      margin-top: .5rem;
    }

    .conta .rede.facebook {
      background-color: #5955FF;
    }

    .conta .rede.twitter {
      background-color: #35E1BF;
    }

    .conta .rede.instagram {
      background: linear-gradient(45deg, #FF2DFD, #40A7FF);
    }

/*────────────────── 
     hamburger
──────────────────*/
.hamburger {
  display: none;
}

.hamburger div{
  width: 30px;
  height: 3px;
  background: #dbdbdb;
  margin: 5px;
  transition:all 0.3s ease;
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translatex(50px);
  }
  to{
    opacity: 1;
    transform:translatex(0px);
  }
}

/*────────────────── 
     fim-hamburger
──────────────────*/

/*botão*/
.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #20262e;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-left: 14px;
  cursor:pointer;
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@media (max-width: 768px) {
  .btn {
    display: block;
    width: 20%;
    margin-bottom: 10px;
  }
}



    /* responsivo */
    @media (max-width: 750px) {
      .conta .lista-datos {
        width: 100%;
      }

      .conta .perfil-usuario-portada,
      .conta .usuario-body {
        width: 95%;
      }

      .conta .redes-sociais {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
      }

      .conta .redes-sociais .rede+.rede {
        margin-left: 1rem;
        margin-top: 0;
      }
    }


/*MENU*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
  .work{
        padding:20px 20%;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1000px) {
  .work{
        padding:20px 12%;
    }
}


@media only screen and (max-width: 500px) {

  #home, #projects, #contact{
        overflow-x: hidden;
  }
  header{
    background-color: var(--main-header-background);
  }
  .logo{
    position:absolute;
    top: 2px;
    left: 30px;
  }
  .nav-show{
    opacity: 1;
  }  
  .nav-bar{
    position:fixed;
    top: 0px;
    right:0;
    width:60%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    background:var(--main-header-background);
    transform:translatex(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
  }
  .hamburger{
    position:absolute;
    top: 17px;
    right: 25%;
    display: block;
    cursor:pointer;
    z-index: 5;
  } 
  .nav-bar li{
    opacity:0;
  }
}

.nav-active{
  transform:translatex(0%);
}

/*────────────────── 
       footer
──────────────────*/

footer {
  width: 100%;
  height: 100px;
  padding-top: 2rem;
  margin-top: 2rem;
    background-color: var(--main-header-background);
}

.copyright {
  color: #fff;
  font-size: 1.2rem;
  line-height: 40px;
  text-align: center;
}

.copyright a{
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
  color: var(--main-decor-color);
}

/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-Scrollbar{
    width: 10px; 
  background: rgba(5,5,5,1);
}
::-webkit-Scrollbar-thumb{
  border-radius: 10px;
  background: var(--main-decor-color);
  box-shadow: inset 0 0 20px var(--main-decor-color);
}