/* ===== Fonte do Google ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== cor ===== */
    --primary-color: #0E4BF1;
    --panel-color: #f7ecdf;
    --text-color: white;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;

    --title-icon-color: #fff;
    --main-header-background:#20262e;
    --main-background: #0b0c0f;
    --main-fonts-color: #fff;
    --main-decor-color:#886f6f;

    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #32CD32;
    --box2-color: #DC143C;
    --box3-color: #FFD700;
    --title-icon-color: #fff;
    
    /* ====== transição ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-image: url("imagens/wall8.jpgng");
}



/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-Scrollbar{
    width: 5px; 
    background: rgba(5,5,5,1);
}
::-webkit-Scrollbar-thumb{
    border-radius: 10px;
    background: var(--main-decor-color);
    box-shadow: inset 0 0 20px var(--main-decor-color);
}



/*────────────────── 
       header
──────────────────*/

header{
    margin: 0 auto;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    background: transparent;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 5;
}
.nav-show{
    opacity: 0;
}

header:hover{
    opacity: 1;
    background: var(--main-header-background);
}

.logo img{
    padding-top: 5px;
    height: 100px;
    cursor: pointer;
}

.nav-bar{
    list-style:none;
    position: relative;
    display: inline-flex;
}

a.nav-link{
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--main-fonts-color);
    font-family: var(--main-font-family);
    cursor: pointer;
    text-transform: uppercase;
}

.active{
    background: var(--main-decor-color);
}

.nav-link:hover {
    color: #000000;
    background: var(--main-decor-color);
}

/*────────────────── 
     hamburger
──────────────────*/
.hamburger {
    display: none;
}

.hamburger div{
    width: 30px;
    height: 3px;
    background: #dbdbdb;
    margin: 5px;
    transition:all 0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translatex(50px);
    }
    to{
        opacity: 1;
        transform:translatex(0px);
    }
}

/*────────────────── 
     fim-hamburger
──────────────────*/





.dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box1{
    background-color: var(--box1-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: #000;
}
.boxes .box.box2{
    background-color: var(--box2-color);    
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: #000;
}
.boxes .box.box3{
    background-color: var(--box3-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: #000;
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity {
    background: rgb(211 210 210 / 16%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin: 3rem 1.4rem;
    color: #000;
    padding: 1rem 1rem;
}

.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}


@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}




/*MENU*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
    .work{
        padding:20px 20%;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1000px) {
    .work{
        padding:20px 12%;
    }
}


@media only screen and (max-width: 500px) {

    #home, #projects, #contact{
        overflow-x: hidden;
    }
    header{
        background-color: var(--main-header-background);
    }
    .logo{
        position:absolute;
        top: 2px;
        left: 30px;
    }
    .nav-show{
        opacity: 1;
    }    
    .nav-bar{
        position:fixed;
        top: 0px;
        right:0;
        width:60%;
        height: 100vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        background:var(--main-header-background);
        transform:translatex(100%);
        transition: transform 0.5s ease-in;
        z-index: -1;
    }
    .hamburger{
        position:absolute;
        top: 17px;
        right: 25%;
        display: block;
        cursor:pointer;
        z-index: 5;
    }   
    .nav-bar li{
        opacity:0;
    }
}

.nav-active{
    transform:translatex(0%);
}